-c requirements-all.txt
-c requirements-build.txt
-c requirements-test.txt

autoflake
bandit
black
bump2version
coloredlogs
flake8
flake8-bugbear
isort
liccheck
mypy
pip-tools
pipdeptree
pylint
radon
safety

sqlalchemy-stubs
sqlalchemy[mypy]

types-backports
types-chardet
types-paramiko
types-python-dateutil
types-pytz
types-PyYAML
types-requests
types-setuptools
types-toml


# constraints
#
safety<2.3.5
