-c requirements.txt
-c requirements-build.txt

-r requirements.txt
-r requirements-crypto.txt
-r requirements-db.txt
-r requirements-extra.txt
-r requirements-http.txt
-r requirements-net.txt
-r requirements-scheduler.txt
