-c requirements.txt
-c requirements-test.txt
-c requirements-all.txt

twine
wheel
black
flake8
pip-tools
pylint
tox
bump2version
pipdeptree
mypy
coloredlogs
safety
liccheck
isort
autoflake

types-PyYAML
types-python-dateutil
types-setuptools
types-toml
types-requests
types-backports
types-pytz
