-c requirements.txt
-c requirements-build.txt

apscheduler
argon2-cffi
sqlalchemy
sqlalchemy_schemadisplay
chardet
gunicorn
jsonschema
rule_engine
aiohttp
requests
user_agents
email_validator
pysocks
paramiko
