-c requirements.txt
-c requirements-build.txt
-c requirements-test.txt

autoflake
bandit
black
bump2version
coloredlogs
flake8
flake8-bugbear
isort
liccheck
mypy
pip-tools
pipdeptree
pylint
radon
safety
